* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
/* hero css start */

.container {
  /* height: 80vh; */
  max-width: 1280px;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.nav-text {
  /* margin-left: 200px; */
  margin-top: 250px;
}
.nav-text h1 {
  line-height: 40px;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 3px;

  border-left: 3px solid orangered;
  padding: 6px;
  /* height: 200px; */
  /* position:absolute; */
  /* left: 50%; */
}
.nav-text p {
  font-size: 20px;
}
.nav-img {
  /* margin-right: 190px; */
}
.nav-img img {
  height: 620px;
  width: 500px;
  /* margin-left: 90px; */
}
span {
  color: #ffad5a;
}
.btn {
  background-color: rgb(244, 57, 57);
  padding: 15px 30px;
  border: none;
  border-radius: 9px;
  color: antiquewhite;
  font-size: 15px;
  font-weight: bold;
}

/* hero css end */

/* service css start */
.services {
  /* align-items: center; */
  margin-top: 100px;
}
.services-text {
  /* height: 800px;
    width:100% ; */
  display: flex;
  justify-content: space-between;
  padding: px;
  /* margin: 15px; */
  /* margin-left: 120px; */
}
.mission {
  background-color: rgb(195, 227, 217);
  border-radius: 15px;
  margin: 15px;
  height: 376px;
  width: 360px;

  padding: 20px;
}
.mission img {
  width: 200px;
  height: 200px;
}
.vission {
  background-color: rgb(215, 188, 201);
  border-radius: 15px;
  margin: 15px;
  height: 376px;
  padding: 20px;
  width: 360px;
}
.vission img {
  width: 200px;
  height: 200px;
}
.goals {
  background-color: bisque;
  border-radius: 15px;
  margin: 15px;
  height: 376px;
  padding: 20px;
  width: 360px;
}
.goals img {
  width: 200px;
  height: 200px;
}
.s-text {
  text-align: center;
  font-size: 45px;
  font-weight: bolder;
  margin-bottom: 30px;
}

.dotted-img {
  background-image: url(./images/person/Group\ 57403.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  padding: ;
  background-size: 100px 120px;
  height: 80vh;
}

/* service css end */

/* about section css stard */

.about-section {
  display: flex;
  gap: 250px;
}

.first-img {
  width: 40%;
  position: absolute;
}
.first-img img {
  height: 400px;
  width: 400px;
}
.second-img img {
  height: 227px;
  width: 227px;
}
.second-img {
  position: relative;
  right: 80px;
  z-index: -1;
  top: 72px;
  padding-top: -200px;
}
.about-text {
  height: 630px;
  width: 654;
  margin-top: 60px;
}
.about-text h1 {
  line-height: 35px;
  font-size: 45px;
  line-height: 50px;
}
.dotted-img2 {
  background-image: url(./images/person/Group\ 57403.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
  padding: ;
  background-size: 100px 120px;
  height: 65vh;
}
/* about section css end */
.community-text {
  margin-top: 80px;
}
.community-text h1 {
  font-size: 45px;
  line-height: 40px;
  font-family: "Kalnia", serif;
}
.community-text p {
  text-align: left;
}
.global-community {
  display: flex;
  justify-content: space-between;
}

.community-first-img img {
  width: 400px;
  height: 400px;
}
.community-first-img {
  position: absolute;
}
.community-second-img img {
  width: 200px;
  height: 200px;
  position: relative;
  margin-top: 270px;
  margin-left: 280px;
  z-index: -1;
}

/* corona application start */
.corona-heading-tag {
  text-align: center;
  font-size: 45px;
  font-family: sans-serif;
  padding: 20px;
  margin-bottom: 30px;
}
.corona-text {
  display: flex;
  justify-content: space-between;
}
.corona-first-img {
  position: absolute;
  z-index: 1;
  margin-left: 70px;
  margin-top: 20px;
}
.corona-first-img img {
  height: 542px;
  width: 338px;
}
.corona-background-img1 img {
  width: 147px;
  height: 147px;
}
.corona-background-img1 {
  position: relative;

  margin-left: 60px;
}
.corona-background-img2 img {
  width: 77px;
  height: 77px;
}
.corona-background-img2 {
  position: relative;
  margin-top: 330px;
  margin-left: 70px;
}
.corona-background-img3 img {
  width: 77px;
  height: 77px;
}
.corona-background-img3 {
  position: relative;
  margin-left: 320px;
  margin-top: -200px;
  display: block;
}
.corona-right-text {
  margin-top: 140px;
  margin-left: 200px;
}
.corona-right-text h1 {
  font-size: 45px;
}
/* corona application start */

/* footer start */
.footer-text {
  margin-top: 200px;
  text-align: center;
  color: rgb(255, 172, 64);
  line-height: 60px;
  padding: 30px;
}
.footer-text h1 {
  font-family: Georgia, serif;
  font-size: 30px;
}
.footer-text h4 {
  font-family: Georgia, serif;
}
.foot-bg {
  background: #090909;
  height: 200px;
}
.footer-span {
  color: red;
}
/* footer end */
